<!-- <div class="grid-container"> -->
<mat-grid-list cols="2" rows="3" rowHeight="350px">
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
            <mat-card-title>Stat Details</mat-card-title>
            <mat-card-content>
                <p>
                    <mat-icon>thermostat</mat-icon>
                    Boiler Water Temperature: {{ stat.temperatureAverageData }} °C
                </p>
                <p>
                    <mat-icon>compress</mat-icon>
                    CH Water Pressure: {{ stat.pressureAverageData }} bar
                </p>
                <p>
                    <mat-icon>blur_on</mat-icon>
                    Carbon Monoxide Level: {{ stat.carbonMonoxideAverageData }} ppm
                    <mat-icon *ngIf="stat.carbonMonoxideAverageData > 1000" class="alert-icon">warning</mat-icon>
                </p>
                <p>
                    <mat-icon>moving</mat-icon>
                    performance: {{ stat.performanceAverageData }}
                    <mat-icon *ngIf="stat.performanceAverageData < 90" class="alert-icon">warning</mat-icon>
                </p>
                <!-- <p>
                    <mat-icon *ngIf="stat.state === 'OK'" class="satisfied-icon">sentiment_satisfied_alt</mat-icon>
                    <mat-icon *ngIf="stat.state !== 'OK'" class="dissatisfied-icon">sick</mat-icon>
                    State: {{ stat.state }}
                    <mat-icon *ngIf="stat.state !== 'OK'" class="alert-icon">warning</mat-icon>
                </p> -->
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
            <mat-card-title>Client Details</mat-card-title>
            <mat-card-content>
                <p>
                    <mat-icon>numbers</mat-icon>
                    Client id: {{ client.id }}
                </p>
                <p>
                    <mat-icon>numbers</mat-icon>
                    Boiler id: {{ client.boilerId }}
                </p>
                <p>
                    <mat-icon>account_circle</mat-icon>
                    Name: {{ client.name }} {{client.surname}}
                </p>
                <p>
                    <mat-icon>place</mat-icon>
                    Address: {{ client.address }}
                </p>
                <p>
                    <mat-icon>email</mat-icon>
                    Email: {{ client.email }}
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<app-alarm-table style="margin-bottom: 20px;"></app-alarm-table>
<app-stats style="margin-top: 20px;"></app-stats>
